<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
     <header>
         <div>
            <h1>TO DO</h1>
            <img src="/imagens/moon-icon.png" alt="Icone de lua">
        </div>
     </header>
     {{{body}}}
</body>
</html>